
<html>
<head></head>
<body>
<h1>Secrets!</h1>
<ul>
  <li>Walruses are one of the largest flippered marine mammals. Male walruses
  weigh up to 3,700 pounds (1,700 kilograms), while females tip the scales at
  about 2,700 pounds (1,200 kg).</li>
  <li>In the pinniped family, walruses are second in size only to elephant
  seals. Their flippers are flexible like hands, and each flipper has five
  digits.</li>
  <li>They have a broad head, small eyes, and can be recognized by their tusks.
  (Both male and females walruses have tusks.)</li>
</ul>
</body>
</html>
